cashew-bot.json
{
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU",
          "mode": "list",
          "cachedResultName": "CashewBot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1541734962,
          "mode": "list",
          "cachedResultName": "Usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit#gid=1541734962"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Chat ID",
              "lookupValue": "={{ $json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1584,
        40
      ],
      "id": "14230f02-5872-45df-ae27-076a05495bb8",
      "name": "Buscar el usuario registrado",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jccNPB06hktLmAAY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55f3c496-e443-4bd5-b584-8dedec4edc78",
              "leftValue": "={{ $json[\"Chat ID\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1360,
        40
      ],
      "id": "0a197097-4888-4071-9b8b-cafa4cc2fc54",
      "name": "IF (Si el usuario existe o no existe)"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2032,
        376
      ],
      "id": "bd3a5848-e352-4c97-bd6a-9053b889a715",
      "name": "Telegram Trigger",
      "webhookId": "040e60ef-e56b-4357-8547-a0ba2e06bbe5",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Rol: Eres una API de extracción de datos financieros. Tu único propósito es analizar el mensaje del usuario, extraer los datos de la transacción y devolver EXCLUSIVAMENTE un objeto JSON válido. No uses bloques de código Markdown (no uses ```json), no incluyas saludos ni explicaciones.\n\nREGLA CERO (FILTRO DE CONVERSACIÓN):\nTu único propósito es extraer datos financieros. Si el mensaje del usuario NO contiene una transacción financiera explícita (por ejemplo, si es un saludo como \"Hola\", una pregunta general, texto sin sentido o una charla casual), DEBES abortar el análisis.\nEn ese caso, tu respuesta DEBE ser ÚNICAMENTE este JSON exacto:\n{\n  \"error\": \"no_financiero\"\n}\n\nREGLAS GENERALES DE MONTOS Y MONEDA:\n1. SIGNOS (INGRESOS VS GASTOS):\n- Si es GASTO (\"gasté\", \"compré\", \"pagué\"): El campo \"amount\" DEBE ser NEGATIVO (ej. -10).\n- Si es INGRESO (\"me pagaron\", \"cobré\", \"recibí\"): El campo \"amount\" DEBE ser POSITIVO (ej. 50).\n\n2. DETECCIÓN DE MONEDA (COP vs USD):\n- Asume Pesos Colombianos (COP) si el monto es mayor a 500 o si usa palabras como \"mil\", \"pesos\" o \"lucas\". \n- Asume Dólares (USD) si el monto es menor o igual a 500, o si usa palabras como \"dólares\", \"verdes\" o \"usd\".\n\nREGLAS DE CUENTAS DISPONIBLES Y CONVERSIÓN (¡CRÍTICO!):\n1. CUENTAS DISPONIBLES DEL USUARIO: \n{{ $json.Cuentas }}\n(Nota: Si existe la cuenta \"Efectivo\", asume que es la ÚNICA que maneja Pesos Colombianos COP. Las demás manejan Dólares USD por defecto).\n\n2. LÓGICA DE ASIGNACIÓN:\n- Si el usuario menciona una cuenta explícitamente (ej. \"por Zinli\", \"en Efectivo\"), incluye la clave \"account\" en el JSON con ese nombre exacto.\n- Si NO se especifica la cuenta en el texto, OMITE la clave \"account\" del JSON por completo.\n\n3. REGLA DE CONVERSIÓN COP A USD: \n- COP a USD (División): Si la transacción es en Pesos Colombianos (COP) PERO NO se menciona explícitamente la cuenta \"Efectivo\", asume que se pagó con dólares. DIVIDE el monto en pesos entre 3700 (ej. \"Gasté 6mil pesos\" -> 6000 / 3700 = 1.62. Devuelves \"amount\": -1.62 y omites \"account\").\n- USD a COP (Multiplicación): Si la transacción es en Dólares (USD) PERO se menciona explícitamente la cuenta \"Efectivo\" (que solo maneja COP), DEBES MULTIPLICAR el monto en dólares por 3700. (ej. \"Gasté 20 dólares en efectivo\" -> 20 * 3700 = 74000. Devuelves \"amount\": -74000 y \"account\": \"Efectivo\").\n\nÁRBOL DE CATEGORÍAS Y SUBCATEGORÍAS PERMITIDAS (JSON):\nA continuación, tienes un objeto JSON exacto donde las claves son las Categorías Principales y los arrays son sus Subcategorías permitidas.\n{{ $json.Estructura_JSON }}\n\nREGLAS DE CLASIFICACIÓN (ESTRICTAS):\n1. El campo \"category\" de tu respuesta DEBE ser una de las claves principales de ese JSON (respetando mayúsculas y acentos).\n2. El campo \"subcategory\" DEBE ser exclusivamente uno de los elementos dentro del array de la categoría que elegiste. \n3. ¡PROHIBIDO INVENTAR! No puedes mezclar una subcategoría de una rama con otra categoría principal. Si la categoría principal tiene un array vacío, no incluyas la clave \"subcategory\" en tu respuesta.\n\nFORMATO JSON DE SALIDA ESPERADO:\n{\n  \"amount\": <número decimal con su signo correspondiente>,\n  \"title\": \"<descripción breve, máximo 3 palabras>\",\n  \"category\": \"<Categoría principal exacta>\"\n  // Opcional: \"subcategory\": \"<Solo si aplica según el JSON y las reglas>\"\n  // Opcional: \"account\": \"<Solo si el usuario la especificó explícitamente>\"\n}\n\nMensaje del usuario:\n{{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -464,
        1376
      ],
      "id": "8a8ef426-f2d7-4607-9b2f-220740654331",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "WagfAg8P7vb12olG",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU",
          "mode": "list",
          "cachedResultName": "CashewBot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 798333887,
          "mode": "list",
          "cachedResultName": "Gastos_Pendientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit#gid=798333887"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Chat ID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "Fecha": "={{ $json.fecha }}",
            "Monto": "={{ $json.amount }}",
            "Categoria": "={{ $json.category }}",
            "Subcategoria": "={{ $json.subcategory }}",
            "Cuenta": "={{ $json.account }}",
            "Estado": "={{ $json.estado }}",
            "Titulo": "={{ $json.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chat ID",
              "displayName": "Chat ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Monto",
              "displayName": "Monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Titulo",
              "displayName": "Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subcategoria",
              "displayName": "Subcategoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cuenta",
              "displayName": "Cuenta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        1744
      ],
      "id": "e4c67304-cf67-454a-ac19-c647876b51dc",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jccNPB06hktLmAAY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=📊 <b>Resumen Diario Listo</b>  Tienes <b>{{ $json.cantidad }}</b> registro(s) en tu carrito de pendientes.  📥 <a href=\"{{ $json.deepLink }}\">TOCA AQUÍ PARA GUARDAR TODOS EN CASHEW</a>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        128
      ],
      "id": "25d41df7-1d8c-4807-b737-537a8563e027",
      "name": "Mensaje de resumen diario",
      "webhookId": "1337c31c-ca07-476d-8905-f848991af9a7",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ <b>Guardado en pendientes</b>\n\n🛒 <b>{{ $('Code procesar gemini').item.json.title }}</b>\n💵 Monto: {{ $('Code procesar gemini').item.json.amount }}\n📂 Cat: {{ $('Code procesar gemini').item.json.category }}{{ $('Code procesar gemini').item.json.subcategory ? ' ➡️ ' + $('Code procesar gemini').item.json.subcategory : '' }}\n🏦 Cuenta: {{ $('Code procesar gemini').item.json.account || 'Por defecto' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        1744
      ],
      "id": "7e99a45f-00df-404e-b604-f56433ebfebb",
      "name": "Mensaje de guardado en pendientes",
      "webhookId": "7ff48a0e-7a59-4e48-a963-77ff4120aff9",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Rescatamos los IDs usando .first() como pide n8n\nconst ids = $('Code procesar pendientes').first().json.idsActualizar;\n\n// Convertimos esa lista en \"Items\" individuales que n8n pueda procesar\nreturn ids.map(id => {\n  return { \n    json: { ID_Gasto: id } \n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        128
      ],
      "id": "07e43be4-289c-45d7-846b-3137875d2ca9",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "try {\n  // 1. Verificamos si el nodo de Gemini falló y trajo un error de API\n  if ($input.first().json.error || !$input.first().json.content) {\n    throw new Error(\"Falla en la API de Gemini\");\n  }\n\n  // 2. Extraemos y parseamos los datos\n  const rawText = $input.first().json.content.parts[0].text;\n  const data = JSON.parse(rawText);\n\n  // Si el usuario envió un saludo (\"no_financiero\"), lo pasamos tal cual\n  if (data.error) {\n     return [{ json: data }];\n  }\n\n  // 3. Generamos datos de control para la base de datos\n  data.id = Date.now().toString(); \n  data.fecha = new Date().toLocaleString(\"es-VE\", { timeZone: \"America/Caracas\" }); \n  data.estado = \"Pendiente\";\n\n  return [{ json: data }];\n\n} catch (e) {\n  // 4. EL ESCUDO: Si la API falla o el JSON es inválido, atrapamos el error\n  const textoOriginal = $('Telegram Trigger').first().json.message.text;\n  \n  return [{ \n    json: { \n      error: \"api_falla\", \n      texto_original: textoOriginal \n    } \n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        1552
      ],
      "id": "9587cd74-865b-4419-b500-e397fe121ee7",
      "name": "Code procesar gemini"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos todas las filas que encontró Google Sheets\nconst items = $input.all();\nconst transacciones = [];\nconst idsActualizar = []; // Guardaremos los IDs para marcarlos como \"Guardados\" más adelante\n\n// 2. Recorremos cada fila para armar los objetos\nfor (const item of items) {\n  const fila = item.json;\n\n  // Armamos el objeto base asegurando que el monto sea un string (como pide Cashew)\n  let gasto = {\n    amount: fila.Monto.toString(),\n    title: fila.Titulo\n  };\n\n  // Agregamos las categorías y cuentas solo si la celda no está vacía\n  if (fila.Categoria) gasto.category = fila.Categoria;\n  if (fila.Subcategoria) gasto.subcategory = fila.Subcategoria;\n  if (fila.Cuenta) gasto.account = fila.Cuenta;\n\n  transacciones.push(gasto);\n  idsActualizar.push(fila.ID); \n}\n\n// 3. Armamos el objeto maestro JSON con el arreglo \"transactions\"\nconst payload = {\n  transactions: transacciones\n};\n\n// 4. Codificamos el JSON completo a formato URL\nconst jsonString = JSON.stringify(payload);\nconst encodedJSON = encodeURIComponent(jsonString);\n\n// 5. Construimos el App Link final\nconst deepLink = `https://cashewapp.web.app/addTransaction?JSON=${encodedJSON}`;\n\n// 6. Devolvemos un ÚNICO paquete de datos al siguiente nodo\nreturn [{\n  json: {\n    deepLink: deepLink,\n    cantidad: transacciones.length,\n    idsActualizar: idsActualizar\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        128
      ],
      "id": "57110201-3b0d-4e4f-a77a-96a6c5f9cc0b",
      "name": "Code procesar pendientes"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU",
          "mode": "list",
          "cachedResultName": "CashewBot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 798333887,
          "mode": "list",
          "cachedResultName": "Gastos_Pendientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit#gid=798333887"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID_Gasto }}",
            "Estado": "Guardado"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Chat ID",
              "displayName": "Chat ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Monto",
              "displayName": "Monto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Titulo",
              "displayName": "Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Subcategoria",
              "displayName": "Subcategoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cuenta",
              "displayName": "Cuenta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        128
      ],
      "id": "2730a7c7-9ee5-41d4-87df-a0b6b1ddd33b",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jccNPB06hktLmAAY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "bdc35091-1225-442a-8dde-16c2118e41e6",
              "leftValue": "={{ $json.ID }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        224
      ],
      "id": "4a1ed5d1-0c5e-4701-88d6-c70c680f459a",
      "name": "If encuentra registros pendientes"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "¡Todo al día! 😎 No tienes gastos pendientes por guardar en este momento.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        320
      ],
      "id": "b24af999-d0bf-45b6-8287-7acb001c5892",
      "name": "Mensaje de todo al dia",
      "webhookId": "c8935a06-3497-493b-b776-e8be05876cfe",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/guardar_dia",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "392cc324-f32a-415d-8fcb-94b8f47a68b1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/guardar_dia"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "da194956-4cc2-48f8-9233-44593b8591a9",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/pendientes",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/pendientes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "76644d0a-1ce1-4d4e-b3e7-e235d65eaa3c",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/perfil",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/perfil"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "15033c19-3352-4a7d-bcd1-c4dd39385f08",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/reiniciar_perfil",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/reiniciar_perfil"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b680d6d5-4a4e-4828-9d09-160d86f56ba6",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/recordatorio",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/recordatorio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -688,
        744
      ],
      "id": "d6d08033-00ac-4514-a508-7356e6bbd88f",
      "name": "Switch Autenticado",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU",
          "mode": "list",
          "cachedResultName": "CashewBot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 798333887,
          "mode": "list",
          "cachedResultName": "Gastos_Pendientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit#gid=798333887"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Chat ID",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "lookupColumn": "Estado",
              "lookupValue": "Pendiente"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -400,
        608
      ],
      "id": "c4780ceb-ba44-4fff-9894-686b394b17ca",
      "name": "Buscar registros en estado pendiente",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jccNPB06hktLmAAY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU",
          "mode": "list",
          "cachedResultName": "CashewBot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 798333887,
          "mode": "list",
          "cachedResultName": "Gastos_Pendientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit#gid=798333887"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Chat ID",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "lookupColumn": "Estado",
              "lookupValue": "Pendiente"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -400,
        224
      ],
      "id": "9841408b-b5cc-4e6d-be72-282ac63477a1",
      "name": "Buscar registros en estado pendiente1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jccNPB06hktLmAAY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "bdc35091-1225-442a-8dde-16c2118e41e6",
              "leftValue": "={{ $json.ID }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        608
      ],
      "id": "b1828ee6-7e5c-472e-a4c4-29d8b16c01d7",
      "name": "If encuentra registros pendientes1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "¡Todo al día! 😎 No tienes gastos pendientes por guardar en este momento.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        888
      ],
      "id": "535deec3-3cae-46ae-ace0-495a46f1a9b5",
      "name": "Mensaje de todo al dia1",
      "webhookId": "c8935a06-3497-493b-b776-e8be05876cfe",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet mensaje = \"📝 <b>Tus transacciones pendientes:</b>\\n\\n\";\nlet contador = 0;\n\nfor (const item of items) {\n  const fila = item.json;\n  \n  // Verificamos que la fila tenga datos reales\n  if(fila.ID) { \n    contador++;\n    mensaje += `🔸 <b>${fila.Titulo}</b>: ${fila.Monto}\\n`;\n    \n    // Agregamos categoría si existe\n    if(fila.Categoria) {\n      let sub = fila.Subcategoria ? ` ➡️ ${fila.Subcategoria}` : '';\n      mensaje += `   └ <i>${fila.Categoria}${sub}</i>\\n`;\n    }\n    // Agregamos cuenta si existe\n    if(fila.Cuenta) {\n      mensaje += `   └ 🏦 <i>${fila.Cuenta}</i>\\n`;\n    }\n    mensaje += \"\\n\"; \n  }\n}\n\nmensaje += `Total: <b>${contador}</b> registro(s) esperando.\\n`;\nmensaje += `👉 Usa /guardar_dia para enviarlos a Cashew.`;\n\nreturn [{\n  json: { textoFormateado: mensaje }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        512
      ],
      "id": "fc86077a-fc24-411c-8f1b-8a5ab1ede91d",
      "name": "Procesar registros pendientes"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.textoFormateado }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        512
      ],
      "id": "570c9843-312a-4630-900c-5e669525e97d",
      "name": "Mensaje con lista de pendientes por guardar",
      "webhookId": "9c715374-9abf-44e9-a13d-35ab59a3f11a",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Notifícame cuando quieras registrar una transacción en tu Cashew. 📝",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        896
      ],
      "id": "ae5a3d7b-a1a9-4fd0-8fbd-437c7b3b73fc",
      "name": "Mensaje por defecto",
      "webhookId": "aef3e0ae-1d41-476d-a5bb-bb55abbe6780",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=¡Bienvenido! Para empezar a registrar tus gastos, necesitamos configurar tus categorías y cuentas. ¿Cómo prefieres hacerlo?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📁 Importar configuración de Cashew",
                    "additionalFields": {
                      "callback_data": "upload_json"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🚀 Usar Plantilla de Prueba",
                    "additionalFields": {
                      "callback_data": "use_template"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -688,
        -448
      ],
      "id": "547c9701-7dc4-457c-9a9b-229dd109866c",
      "name": "Mensaje de bienvenida",
      "webhookId": "4d994506-81a6-4034-ab98-8553bf0c19b8",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU",
          "mode": "list",
          "cachedResultName": "CashewBot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1541734962,
          "mode": "list",
          "cachedResultName": "Usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit#gid=1541734962"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chat ID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "Nombre": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "Estado_Registro": "ESPERANDO_CONFIGURACION"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Chat ID",
              "displayName": "Chat ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cuentas",
              "displayName": "Cuentas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado_Registro",
              "displayName": "Estado_Registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria_Temporal",
              "displayName": "Categoria_Temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estructura_JSON",
              "displayName": "Estructura_JSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Recordatorio_Diario",
              "displayName": "Recordatorio_Diario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -912,
        -448
      ],
      "id": "7e1e5064-bf31-424f-9825-6590fda9145d",
      "name": "Registro inicial de usuario",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jccNPB06hktLmAAY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "¡Ya estas registrado! Puedes enviarme tus gastos cuando quieras",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        -64
      ],
      "id": "2eff0da4-36dd-453d-bf8e-011269f3df34",
      "name": "Ya estas registrado!",
      "webhookId": "5f2da58b-483b-48fd-b4bb-540619889b02",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1948fa54-9892-47ba-b205-cfd64b6734fc",
                    "leftValue": "={{ $json.Estado_Registro }}",
                    "rightValue": "ESPERANDO_CONFIGURACION",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Procesar JSON"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f8d4137e-5d75-4a99-8cf0-8dfb51b4315a",
                    "leftValue": "={{ $json.Estado_Registro }}",
                    "rightValue": "COMPLETADO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COMPLETADO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -912,
        328
      ],
      "id": "c7bbfbf7-3328-4f93-a294-480d4fd6312c",
      "name": "Switch de Estados"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "ee38daa0-31dc-44ee-9e78-b0546b66356e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/start"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1136,
        232
      ],
      "id": "688e1140-67c6-4b0c-b39b-18661453555c",
      "name": "Filtro usuario existente"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Para usar el bot, por favor envía el comando /start",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        -256
      ],
      "id": "58b1db01-f22b-4dd3-9e3d-1cd27552db93",
      "name": "Inicio sin start",
      "webhookId": "3018a5e1-3605-4d37-8865-b703b301a93e",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "ad84625b-5aad-419b-a997-66f1207f82e6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/start"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1136,
        -440
      ],
      "id": "b7374e40-b5f3-4b33-9b86-030e8a384ca3",
      "name": "Filtro Nuevo Usuario"
    },
    {
      "parameters": {
        "jsCode": "const cuentas = $json.Cuentas || \"No definidas\";\nconst estructuraJSON = $json.Estructura_JSON;\nlet resumenVisual = \"\";\n\nif (estructuraJSON && estructuraJSON.trim() !== \"\") {\n  try {\n    const arbol = JSON.parse(estructuraJSON);\n    for (const [cat, subs] of Object.entries(arbol)) {\n      resumenVisual += `\\n📁 <b>${cat}</b>`;\n      if (subs.length > 0) resumenVisual += `\\n   └ <i>${subs.join(', ')}</i>`;\n    }\n  } catch (e) { resumenVisual = \"\\n⚠️ Error leyendo categorías.\"; }\n} else { resumenVisual = \"\\nNo tienes categorías configuradas.\"; }\n\nlet mensajeFinal = `👤 <b>TU PERFIL DE CASHEWBOT</b>\\n\\n🏦 <b>Tus Cuentas:</b>\\n${cuentas}\\n\\n🌳 <b>Tu Árbol de Categorías:</b>${resumenVisual}\\n\\n👉 <i>Si necesitas modificar algo, usa /reiniciar_perfil</i>`;\n\nreturn [{ json: { textoPerfil: mensajeFinal } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        992
      ],
      "id": "57a16f2a-38e7-437a-a0c2-8b0ce93087ee",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.textoPerfil }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": []
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        1264
      ],
      "id": "17092815-cdfc-4e1c-b401-e1cbdfda352d",
      "name": "Enviar perfil",
      "webhookId": "9aae7cfd-12aa-40e7-b6bd-c807a637cdca",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU",
          "mode": "list",
          "cachedResultName": "CashewBot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1541734962,
          "mode": "list",
          "cachedResultName": "Usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit#gid=1541734962"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chat ID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "Estado_Registro": "ESPERANDO_CONFIGURACION",
            "Cuentas": "=",
            "Estructura_JSON": "="
          },
          "matchingColumns": [
            "Chat ID"
          ],
          "schema": [
            {
              "id": "Chat ID",
              "displayName": "Chat ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cuentas",
              "displayName": "Cuentas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado_Registro",
              "displayName": "Estado_Registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria_Temporal",
              "displayName": "Categoria_Temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estructura_JSON",
              "displayName": "Estructura_JSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recordatorio_Diario",
              "displayName": "Recordatorio_Diario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -400,
        800
      ],
      "id": "e83ac5f9-18af-4e8a-a2ac-fef870581f0e",
      "name": "Reiniciar perfil",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jccNPB06hktLmAAY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "=¡Hola! 👋 Bienvenido a tu Asistente Financiero CashewBot.\n\nPara configurarlo en 2 segundos, ve a tu aplicación de Cashew y haz esto:\n1. Ve a ⚙️ <b>Ajustes > Importar y Exportar Datos</b>.\n2. Toca en <b>Exportar Configuración</b>.\n3. Activa <i>Nombres de cuenta</i> y <i>Nombres de categorías</i>.\n4. Toca \"Exportar\", copia el texto que te da y <b>pégalo aquí mismo en el chat</b>. 👇",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        1072
      ],
      "id": "65c78c1b-c73a-4c70-8e2b-c20dd832e5d6",
      "name": "Perfil reiniciado!",
      "webhookId": "81974b54-1339-44e7-940f-980d9bf22cde",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message ? 'message' : 'callback_query' }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3213e685-a341-406d-b8a8-7095c2aa98db"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f3005a33-016a-4538-a5d9-d38a1e1039c4",
                    "leftValue": "={{ $json.message ? 'message' : 'callback_query' }}",
                    "rightValue": "callback_query",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "callback_query"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1808,
        376
      ],
      "id": "034e0490-1176-48cc-8a70-6591291f8251",
      "name": "Texto vs botones"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const textoUsuario = $('Telegram Trigger').first().json.message.text;\n  const cashewData = JSON.parse(textoUsuario);\n  \n  const cuentasUnidas = cashewData.accounts.join(', ');\n  const arbolCategorias = JSON.stringify(cashewData.categories);\n  \n  return [{\n    json: {\n      exito: true,\n      cuentasFinales: cuentasUnidas,\n      estructuraFinal: arbolCategorias\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      exito: false,\n      mensaje: \"⚠️ Error: El texto que enviaste no parece ser la configuración correcta. Asegúrate de copiar el texto exacto desde Cashew y vuelve a pegarlo.\"\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        -64
      ],
      "id": "d5064593-7797-4468-b93c-fe0dc1fd3744",
      "name": "Extraer Datos JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c54b9735-ab44-43b2-88cd-34be7e4b4243",
              "leftValue": "={{ $json.exito }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        -64
      ],
      "id": "6ce36f4d-5250-43a0-b5a3-72e76c698101",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Extraer Datos JSON').item.json.mensaje }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        32
      ],
      "id": "eec44c5d-d239-4e79-9aeb-34dc4994b329",
      "name": "Send a text message",
      "webhookId": "16bac891-1b7c-4420-a647-a9f41569a5df",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU",
          "mode": "list",
          "cachedResultName": "CashewBot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1541734962,
          "mode": "list",
          "cachedResultName": "Usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit#gid=1541734962"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chat ID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "Estado_Registro": "COMPLETADO",
            "Cuentas": "={{ $('Extraer Datos JSON').item.json.cuentasFinales }}",
            "Estructura_JSON": "={{ $('Extraer Datos JSON').item.json.estructuraFinal }}"
          },
          "matchingColumns": [
            "Chat ID"
          ],
          "schema": [
            {
              "id": "Chat ID",
              "displayName": "Chat ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cuentas",
              "displayName": "Cuentas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado_Registro",
              "displayName": "Estado_Registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoria_Temporal",
              "displayName": "Categoria_Temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estructura_JSON",
              "displayName": "Estructura_JSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recordatorio_Diario",
              "displayName": "Recordatorio_Diario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        -160
      ],
      "id": "712db077-98b3-470d-8adc-0fe315f6f683",
      "name": "Guardar configuracion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jccNPB06hktLmAAY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🎉 <b>¡Perfil Sincronizado al Instante!</b> 🎉\n\nHe leído tu configuración perfectamente. Ya tengo todas tus cuentas y tu árbol de categorías listo.\n\nA partir de este momento, puedes escribirme tus gastos de forma natural. \n<i>Ejemplo: \"Gasté 15 dólares en taxi\" o \"Compré 30 mil pesos de pan\".</i> 🚀",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        -160
      ],
      "id": "d01c3ae6-59c8-498b-85a5-851d6b26e1b2",
      "name": "Configuracion guardada!",
      "webhookId": "16bac891-1b7c-4420-a647-a9f41569a5df",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "no_financiero",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "56f414f1-c956-4b13-80d3-c722125d365b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Saludo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1ed8efbe-2454-416a-a07a-8e16151d2dc4",
                    "leftValue": "={{ $json.error }}",
                    "rightValue": "api_falla",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Falla IA"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Exito"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        112,
        1536
      ],
      "id": "09af4030-02a2-459f-ac87-0aed78c64697",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=⚠️ <b>¡Ups! Mi cerebro de IA tuvo un micro-corte.</b>\n\nNo pude procesar tu último gasto por un fallo de conexión. Por favor, toca el texto de abajo para copiarlo y vuélvelo a enviar:\n\n<code>{{ $json.texto_original }}</code>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        1552
      ],
      "id": "938fb08f-a053-4864-9bce-54cd30e02297",
      "name": "Aviso de fallo IA",
      "webhookId": "7c9df5c7-5fac-4a97-ae4d-93bc54eea75c",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "¿A qué hora deseas que te recuerde guardar tus gastos pendientes?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "19:00",
                    "additionalFields": {
                      "callback_data": "rec_19:00"
                    }
                  },
                  {
                    "text": "20:00",
                    "additionalFields": {
                      "callback_data": "rec_20:00"
                    }
                  },
                  {
                    "text": "21:00",
                    "additionalFields": {
                      "callback_data": "rec_21:00"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🔕 Desactivar",
                    "additionalFields": {
                      "callback_data": "rec_OFF"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -400,
        1184
      ],
      "id": "e3329036-c98d-4371-9da3-d843d5356f0b",
      "name": "Menú Recordatorio",
      "webhookId": "00dfebad-0012-4728-929b-c4e0f885976a",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "rec_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "680a8249-7f19-4728-8a35-137168f0d738"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Configurar Recordatorio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "82ce70a4-5b04-4e9a-84c2-749d5f9f0c55",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "upload_json",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "upload_json"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ff378c38-0401-434a-82ef-3dd429d0c5b3",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "use_template",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "use_template"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1584,
        1704
      ],
      "id": "b599676f-85a2-4cd5-927d-fc188dc311cc",
      "name": "Switch de Botones"
    },
    {
      "parameters": {
        "jsCode": "// Atrapamos qué botón se pulsó (ej: \"rec_20:00\" o \"rec_OFF\")\nconst boton = $('Telegram Trigger').first().json.callback_query.data;\n\n// Le quitamos el \"rec_\" para quedarnos solo con el valor puro\nconst valor = boton.replace('rec_', '');\n\nlet mensaje = '';\nif (valor === 'OFF') {\n  mensaje = \"🔕 <b>Recordatorio desactivado.</b> Ya no te molestaré por las noches.\";\n} else {\n  mensaje = `⏰ <b>Recordatorio activado.</b> Te avisaré todos los días a las ${valor} si tienes gastos sin guardar.`;\n}\n\nreturn [{\n  json: {\n    valor_bd: valor,\n    mensaje_telegram: mensaje\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        1696
      ],
      "id": "ca80600d-4c6a-461c-b39c-d822719081b2",
      "name": "Parsear eleccion del recordatorio"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU",
          "mode": "list",
          "cachedResultName": "CashewBot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1541734962,
          "mode": "list",
          "cachedResultName": "Usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit#gid=1541734962"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chat ID": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
            "Recordatorio_Diario": "={{ $json.valor_bd }}"
          },
          "matchingColumns": [
            "Chat ID"
          ],
          "schema": [
            {
              "id": "Chat ID",
              "displayName": "Chat ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cuentas",
              "displayName": "Cuentas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado_Registro",
              "displayName": "Estado_Registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Categoria_Temporal",
              "displayName": "Categoria_Temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estructura_JSON",
              "displayName": "Estructura_JSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Recordatorio_Diario",
              "displayName": "Recordatorio_Diario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1136,
        1696
      ],
      "id": "bb4c4bfc-5e4d-495f-b726-ba960d7160d5",
      "name": "Guardar configuracion de recordatorio",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jccNPB06hktLmAAY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "={{ $('Parsear eleccion del recordatorio').item.json.mensaje_telegram }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        1696
      ],
      "id": "6feb7994-3685-4d51-bea1-8a1b134e392e",
      "name": "Confirmacion de guardado de recordatorio",
      "webhookId": "07f2f7eb-8cc2-41d2-988e-f3cc4a610230",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cuentas = \"Efectivo, Banco Principal, Zinli\";\nconst arbol = {\n  \"Comida\": [\"Desayuno\", \"Almuerzo\", \"Cena\", \"Snacks\"],\n  \"Transporte\": [\"Uber\", \"Autobús\", \"Taxi\"],\n  \"Servicios\": [\"Internet\", \"Teléfono\", \"Electricidad\"],\n  \"Ocio\": [\"Cine\", \"Videojuegos\", \"Salidas\"],\n  \"Ingresos\": [\"Sueldo\", \"Ventas\", \"Regalos\"]\n};\n\nreturn [{\n  json: {\n    cuentasFinales: cuentas,\n    estructuraFinal: JSON.stringify(arbol)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        1888
      ],
      "id": "6f1717f2-5a49-4482-9d85-48cae74a086b",
      "name": "Construir JSON de la plantilla"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU",
          "mode": "list",
          "cachedResultName": "CashewBot DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1541734962,
          "mode": "list",
          "cachedResultName": "Usuarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TQknp3hEDdBfK4ttBGMnt6Bi3L7uJ4pJ4UV-UbgQ8cU/edit#gid=1541734962"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chat ID": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
            "Estado_Registro": "COMPLETADO",
            "Cuentas": "={{ $('Construir JSON de la plantilla').item.json.cuentasFinales }}",
            "Estructura_JSON": "={{ $('Construir JSON de la plantilla').item.json.estructuraFinal }}"
          },
          "matchingColumns": [
            "Chat ID"
          ],
          "schema": [
            {
              "id": "Chat ID",
              "displayName": "Chat ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cuentas",
              "displayName": "Cuentas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado_Registro",
              "displayName": "Estado_Registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoria_Temporal",
              "displayName": "Categoria_Temporal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estructura_JSON",
              "displayName": "Estructura_JSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recordatorio_Diario",
              "displayName": "Recordatorio_Diario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1136,
        1888
      ],
      "id": "1dc56b02-36ae-4771-b55a-25d14e2e6441",
      "name": "Guardar configuracion1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jccNPB06hktLmAAY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "=🎉 <b>¡Perfil Sincronizado al Instante!</b> 🎉\n\nHe leído tu configuración perfectamente. Ya tengo todas tus cuentas y tu árbol de categorías listo.\n\nA partir de este momento, puedes escribirme tus gastos de forma natural. \n<i>Ejemplo: \"Gasté 15 dólares en taxi\" o \"Compré 30 mil pesos de pan\".</i> 🚀",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        1888
      ],
      "id": "fea2e916-53f6-4d9f-9b2d-7cc9aeaaa280",
      "name": "Configuracion guardada!1",
      "webhookId": "16bac891-1b7c-4420-a647-a9f41569a5df",
      "credentials": {
        "telegramApi": {
          "id": "c7yeIFGtexBZCmUd",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Buscar el usuario registrado": {
      "main": [
        [
          {
            "node": "IF (Si el usuario existe o no existe)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF (Si el usuario existe o no existe)": {
      "main": [
        [
          {
            "node": "Filtro usuario existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filtro Nuevo Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Texto vs botones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code procesar gemini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code procesar gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Mensaje de guardado en pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje de resumen diario": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code procesar gemini": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code procesar pendientes": {
      "main": [
        [
          {
            "node": "Mensaje de resumen diario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If encuentra registros pendientes": {
      "main": [
        [
          {
            "node": "Code procesar pendientes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje de todo al dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Autenticado": {
      "main": [
        [
          {
            "node": "Buscar registros en estado pendiente1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar registros en estado pendiente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reiniciar perfil",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menú Recordatorio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar registros en estado pendiente": {
      "main": [
        [
          {
            "node": "If encuentra registros pendientes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar registros en estado pendiente1": {
      "main": [
        [
          {
            "node": "If encuentra registros pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If encuentra registros pendientes1": {
      "main": [
        [
          {
            "node": "Procesar registros pendientes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje de todo al dia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar registros pendientes": {
      "main": [
        [
          {
            "node": "Mensaje con lista de pendientes por guardar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registro inicial de usuario": {
      "main": [
        [
          {
            "node": "Mensaje de bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch de Estados": {
      "main": [
        [
          {
            "node": "Extraer Datos JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Autenticado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro usuario existente": {
      "main": [
        [
          {
            "node": "Ya estas registrado!",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch de Estados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Nuevo Usuario": {
      "main": [
        [
          {
            "node": "Registro inicial de usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inicio sin start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Enviar perfil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reiniciar perfil": {
      "main": [
        [
          {
            "node": "Perfil reiniciado!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto vs botones": {
      "main": [
        [
          {
            "node": "Buscar el usuario registrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch de Botones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos JSON": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Guardar configuracion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar configuracion": {
      "main": [
        [
          {
            "node": "Configuracion guardada!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Mensaje por defecto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aviso de fallo IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch de Botones": {
      "main": [
        [
          {
            "node": "Parsear eleccion del recordatorio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Perfil reiniciado!",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Construir JSON de la plantilla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear eleccion del recordatorio": {
      "main": [
        [
          {
            "node": "Guardar configuracion de recordatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar configuracion de recordatorio": {
      "main": [
        [
          {
            "node": "Confirmacion de guardado de recordatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir JSON de la plantilla": {
      "main": [
        [
          {
            "node": "Guardar configuracion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar configuracion1": {
      "main": [
        [
          {
            "node": "Configuracion guardada!1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d07c10897fdc911beca2dfde28b95452999dea9f1eeeb2c249525dd0f754467e"
  }
}